	<div class='top-border'>
		<div class='wrapper'>
			<div class='badger-heading'>
				<div class='row'>
					<div class='col-md-7 badger'>
						<h1>BADGER</h1>
						<span class='machinary-text'>----------------------MACHINARY</span>
					</div>
					<div class='col-md-2 user'>
 						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle no-border" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    <span class='glyphicon glyphicon-user'><span class='user-text'>HELLO USER NAME</span></span>
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a ui-sref="one">One</a></li>
						    <li><a ui-sref="one">Another</a></li>
						    <li><a ui-sref="one">Something</a></li>
						  </ul>
						</div>
 					</div>
				</div>
			</div>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
								<span class="icon-bar"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class='homeBkgrnd'><a ui-sref="home"><span id='home'class='glyphicon glyphicon-home'></span></a></li>
								<li><a ui-sref="products">PRODUCTS<span class="sr-only">(current)</span></a></li>
								<li><a ng-href=''>|</a></li>
								<li><a ui-sref="parts">PARTS</a></li>
								<li><a ng-href=''>|</a></li>
								<li><a ui-sref="support">SUPPORT</a></li>
								<li><a ng-href=''>|</a></li>
								<li><a ui-sref="company">COMPANY</a></li>
								<li><a ng-href=''>|</a></li>
								<li><a ui-sref="dealerLocator">DEARLER LOCATOR</a></li>
								<li><a ng-href=''>|</a></li>
								<li class="dropdown"><a ng-href="" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false">SHOP BY DEPARTMENT<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a ui-sref="one">One</a></li>
										<li><a ui-sref="two">Two</a></li>
										<li><a ui-sref="three">Three</a></li>
									</ul>
								</li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a ng-href=""><span class='glyphicon glyphicon-shopping-cart' style='color: orange;'></span><span class='cart-text'>YourCart</span></a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- navbar-header -->
				</div>
				<!-- /.container-fluid -->
			</nav>
			<div class="row">
			  <div class="col-lg-9">
			    <div class="input-group">
			      <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle search-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All<span class="caret"></span></button>
			        <ul class="dropdown-menu">
			          <li><a ng-href="">Action</a></li>
			          <li><a ng-href="">Another action</a></li>
			          <li><a ng-href="">Something else here</a></li>
			        </ul>
			      </div><!-- /btn-group -->
			      <input type="text" class="form-control search-input search-text" aria-label="..." placeholder='Search' >
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			 </div><br>
		</div><!-- wrapper -->
	</div><!-- top-border -->
	<div ui-view></div>