th {
	cursor: pointer;
}

tr th:first-child {
	width: 100px;
}

.table {
	width: 80%;
	margin: auto;
	background-color: white;
	border-radius: 4px;
	box-shadow: 5px 5px 10px 10px #888888;
}

body {
	padding: 40px;
	background-color: #f4f1f1;;
}