<div class='cartBtn'>
	<div class="row">
		  <div class="col-lg-1">
		    <div class="input-group">
		      <div class="input-group-btn">
		        <button type="button" class="btn btn-default dropdown-toggle drpBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">1<span class="caret"></span></button>
		        <ul class="dropdown-menu">
		          <li>2</li>
		          <li>3</li>
		          <li>4</li>
		        </ul>
		      </div>
		     <button class='btn btn-default cartBtn'><span class='glyphicon glyphicon-shopping-cart shpCrt'>&nbspAdd to Cart</span></button>
		    </div><!-- input-group -->
		  </div><!-- col-lg-1 -->
	</div><!-- row -->
</div><!--end class-->

<!-- <apt-action-button clickAction="clickIt()" label='login'></apt-action-button> -->
